<!-- Top Bar Nav -->

<nav class="bg-blue-800 shadow-lg dark:bg-gray-900 w-full z-20 top-0 left-0 border-b border-blue-500 dark:border-gray-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <% if(user) { %>
      <div class="user-info">
        <img src="<%= user.userImage %>" alt="Profile Picture">
      <a href="/profile/<%= user.username %>" class="username"><%= user.username %></a>
      </div>
    <% }else { %>
      <div class="user-info">
        <img src="./img/user.png" alt="Profile Picture">
        <a href="#" class="username">undefine</a>
      </div> 
    <% } %>  
  <div class="flex md:order-2">
      <button type="button" onclick="window.location.href='/auth/logout'" class="font-semibold text-white hover:text-blue-800 border hover:bg-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Logout</button>
      <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-semibold rounded-lg bg-blue-800 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-blue-800 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <li>
        <a href="/" class="block py-2 pl-3 pr-4 text-white rounded hover:bg-gray-100 hover:text-blue-800 md:hover:bg-transparent md:hover:text-blue-600 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Home</a>
      </li>
      <li>
        <a href="/profile/<%= user.username %>" class="block py-2 pl-3 pr-4 text-white rounded hover:bg-gray-100 hover:text-blue-800 md:hover:bg-transparent md:hover:text-blue-600 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Profile</a>
      </li>
      <li>
        <a href="#" class="block py-2 pl-3 pr-4 text-white rounded hover:bg-gray-100 hover:text-blue-800 md:hover:bg-transparent md:hover:text-blue-600 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Settings</a>
      </li>
    </ul>
  </div>
  </div>
</nav>

<!-- Text Header -->
<header class="w-full container mx-auto">
  <div class="flex flex-col items-center py-12">
      <a class="font-bold text-gray-800 uppercase hover:text-gray-700 text-5xl m-2" href="#">
          Welcome blogger!
      </a>
      <p class="text-lg text-gray-600 m-2">
          Feel free in your space
      </p>
      <form class="w-10/12 md:w-6/12 m-2" action="/search" method="GET">   
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative ">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" id="default-search" name="query" class="block w-full p-3 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Mockups, Logos..." required>
            <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-1 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
        </div>
    </form>

  </div>
</header>

<!-- Topic Nav -->
<nav class="w-full py-4 border-t border-b bg-gray-100" x-data="{ open: false }">
  <div class="block sm:hidden">
      <a
          href="#"
          class="block md:hidden text-base font-bold uppercase text-center flex justify-center items-center"
          @click="open = !open"
      >
          Categories <i :class="open ? 'fa-chevron-up': 'fa-chevron-down'" class="fas ml-2"></i>
      </a>
  </div>
  <div :class="open ? 'block': 'hidden'" class="w-full flex-grow sm:flex sm:items-center sm:w-auto">
      <div class="w-full container mx-auto flex flex-col sm:flex-row items-center justify-center text-sm font-bold uppercase mt-0 px-6 py-2">
        <a href="/home" class="hover:bg-blue-800 hover:text-white rounded-lg py-2 px-4 mx-2">All</a>
        <a href="/home?category=Technology" class="hover:bg-blue-800 hover:text-white rounded-lg py-2 px-4 mx-2">Technology</a>
        <a href="/home?category=Automotive" class="hover:bg-blue-800 hover:text-white rounded-lg py-2 px-4 mx-2">Automotive</a>
        <a href="/home?category=Finance" class="hover:bg-blue-800 hover:text-white rounded-lg py-2 px-4 mx-2">Finance</a>
        <a href="/home?category=Culture" class="hover:bg-blue-800 hover:text-white rounded-lg py-2 px-4 mx-2">Culture</a>
        <a href="/home?category=Sports" class="hover:bg-blue-800 hover:text-white rounded-lg py-2 px-4 mx-2">Sports</a>
      </div>
  </div>
</nav>


<div class="container mx-auto flex flex-wrap py-6">
