<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <!------------ include style css files -->
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
  <nav>
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </nav>
<h1>home</h1>
<!-- 
    <div class="tags">
       <strong>Tags:</strong>
      <ul>
        <% blog.tags.forEach(tag => { %>
          <li><%= tag %></li>
        <% }); %>
      </ul> 
    </div>
  -->

  <!-- <% if(!user) { %>
    <div class="user-info">
      <img src="<%= user.userImage %>" alt="Profile Picture">
    <span class="username"><%= user.username %></span>
    </div>
  <% }else { %>
    <div class="user-info">
      <img src="../../public/img/user.png" alt="Profile Picture">
      <span class="username">undefine</span>
    </div> -->
  <% } %>  
  </body>
</html>


